#game-container {
  display: flex;
  gap: 10px;
  height: 75vh;
}

#resource-bar {
  display: flex;
  height: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 10px;
  overflow: clip;
}

#resources {
  display: flex;
  gap: 20px;
}

.resource {
  display: flex;
  align-items: center;
  gap: 5px;
}

.resource img {
 width: 20px;
 height: 20px;
}

#side-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  gap: 10px;
}

.sidebar {
  width: 300px;
  min-height: 40px;
  background-color: #4a9b44;
  padding: 5px;
  overflow-y: hidden;
  transition: flex 0.5s;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  color: #0e5f08;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
}

.sidebar-info {
  color: #f0f0f0;
  font-size: 15px;
  padding: 2px;
  overflow-y: scroll;
}

.sidebar.opened {
  flex: 1;
}

.sidebar.closed {
  flex: 0;
}

.sidebar.closed .sidebar-info {
  display: none;
}

#tile-yield {
  text-align: left;
}

.technology {
  background-color: cornflowerblue;
  border-radius: 10px;
  width: 275px;
  text-align:left
}

.technology:disabled {
  opacity: .7;
  pointer-events: none;
}
.tech-button-content {
  /* margin: 10px;
  padding-top: 10px; */
  display: flex; 
  justify-content: space-between;
}

#map {
  overflow: scroll;
  flex: 1;
  position: relative;
}

.game-buttons {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100px;
  margin-top: 10px;
  gap: 5px;
}

.tint-blue {
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(180deg);
}

.tint-red {
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(330deg);
}

.sidebar-button {
  background-color: lightseagreen;
  text-align: left;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 1vh;
}

.sidebar-button:disabled {
  opacity: .7;
  pointer-events: none;
}

.sidebar-info p {
  display: inline-block;
  margin: 0;
}

.sidebar-info h4 {
  margin-bottom: 1vh;
}

.sidebar-info > div {
  margin-top: 1vh;
}

#tile-yield {
  display: inline-block;
}

#improvements p {
  display: block;
}

#tile-yield img {
  vertical-align: middle
}