<!--
    dead-duckies
    SoftDev 2025
    P02
  -->
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
  </head>
  <body>
<header>
  <div>
    <a href="{{ url_for('home_get') }}">CivEmulator by DeadDuckies</a>
  </div>
  <div class="header-right">
  {% if 'username' in session %}
    {% if 'room' in session %}
      <p style="display:inline-block;">Lobby: {{ session['room'] }}</p>
    {% else %}
      <form action="/create" method="post" style="display:inline-block; margin-left:5px;">
        <button type="submit">Create Lobby</button>
      </form>
      <form action="/join" method="post" style="display:inline-block; margin-left:5px;">
        <input type="text" name="room" placeholder="Lobby Code" required style="width:80px;">
        <button type="submit">Join Lobby</button>
      </form>
    {% endif %}
    <a href="{{ url_for('auth.logout_get') }}" style="margin-left:10px;">Log Out</a>
  {% else %}
    <a href="{{ url_for('auth.login_get') }}">Log In</a>
    <a href="{{ url_for('auth.signup_get') }}">Sign Up</a>
  {% endif %}
</div>
</header>


    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
        <p class="flashes {{ category }}">{{ message }}</p>
      {% endfor %}
      {% endif %}
    {% endwith %}

    <main class="content">
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
