<!--
    dead-duckies
    SoftDev 2025
    P02
  -->
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
  </head>
  <body>
<body>
  {% block header %}
  <header>
    <div>
      <a href="{{ url_for('home_get') }}">CivEmulator by DeadDuckies</a>
    </div>
    <div class="header-right">
      {% if 'username' in session %}
      <a href="{{ url_for('auth.logout_get') }}" style="margin-left:10px;">Log Out</a>
      {% else %}
      <a href="{{ url_for('auth.login_get') }}">Log In</a>
      <a href="{{ url_for('auth.signup_get') }}">Sign Up</a>
      {% endif %}
    </div>
  </header>
  {% endblock %}

    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
        <p class="flashes {{ category }}">{{ message }}</p>
      {% endfor %}
      {% endif %}
    {% endwith %}

    <main class="content">
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
