<!--
 dead-duckies
 Roster: James Lei, Kiran Soemardjo, Sarah Zou, Emaan Asif
 SoftDev pd4
 2026-01-16f
  -->

{% extends "base.html" %}
{% block title %}Game{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/game.css">

<div id="resource-bar">
  <div id="resources">
    <!--#s shld be changed later-->
    <div class="resource"><img src="/static/images/icons/science.png" alt="Science:"><span>0</span></div>
    <div class="resource"><img src="/static/images/icons/gold.png" alt="Gold:"><span>0</span></div>
    <div class="resource"><img src="/static/images/icons/food.png" alt="Food:"><span>0</span></div>
    <div class="resource"><img src="/static/images/icons/production.png" alt="Production:"><span>0</span></div>
    <div class="resource"><img src="/static/images/icons/citizen.png" alt="Population:"><span>0</span></div>
    <div class="resource"><img src="/static/images/icons/iron.png" alt="Iron:"><span>0</span></div>
    <div class="resource"><img src="/static/images/icons/horses.png" alt="Horses:"><span>0</span></div>
    <div class="resource"><img src="/static/images/icons/niter.png" alt="Niter:"><span>0</span></div>
    <div class="resource"><img src="/static/images/icons/coal.png" alt="Coal:"><span>0</span></div>
  </div>
  <div id="turn">
    <!--#s shld be changed later-->
    <span><strong>Turn:</strong> 1 - <strong>Player</strong> 1 </span>
  </div>
</div>

<div id="game-container">
  <!--need to implement-->
  <div id="side-container">
    <div class="sidebar" id="tech-sidebar">
      <div class="sidebar-title">
        This is the tech sidebar.
      </div>
      <div class="sidebar-info">
        This is tech sidebar info.
        <ul id="tech-list">
        </ul>
      </div>
    </div>
    <div class="sidebar" id="info-sidebar">
      <div class="sidebar-title">
        This is the info sidebar.
      </div>
      <div class="sidebar-info" id="info-content">
        This is the sidebar info.
        - terrain
        - resources
        - yield
        - improvements/possible improvements
        - districts/possible districts
      </div>
    </div>
    <div id="game-buttons">
      <!--need to implement these buttons and dialogs-->
      <button>End Turn</button>
      <!--this needs dialog-->
    </div>
  </div>
  <div id="map">
  </div>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  <script type="module" src="/static/js/utility.js"></script>
  <script type="module" src="/static/js/init.js"></script>
  <script type="module" src="/static/js/script.js"></script>
  <script type="module" src="/static/js/socket.js"></script>
  <script type="module" src="/static/js/tech.js"></script>
  <script type="module" src="/static/js/construction.js"></script>
  <script type="module" src="/static/js/units.js"></script>
</div>
{% endblock %}
