<!--
 dead-duckies
 Roster: James Lei, Kiran Soemardjo, Sarah Zou, Emaan Asif
 SoftDev pd4
 2026-01-16f
  -->

{% extends "base.html" %}
{% block title %}Game{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/game.css">
<div id="resource-bar">
  <div id="resources">
    <!--#s shld be changed later-->
    <div class="resource"><img src="https://static.wikia.nocookie.net/civ6_gamepedia_en/images/d/d8/Icon_Campus.png/revision/latest?cb=20161022062307"><span>0</span></span></div>
    <div class="resource"><img src="https://static.wikia.nocookie.net/civ6_gamepedia_en/images/7/76/Icon_main_gold.png/revision/latest/scale-to-width-down/20?cb=20161027160750"><span>0</span></div>
    <div class="resource"><img src="https://static.wikia.nocookie.net/civilization/images/6/65/Civ6Food.png/revision/latest/scale-to-width-down/18?cb=20200501084516"><span>0</span></div>
    <div class="resource"><img src="https://static.wikia.nocookie.net/civilization/images/7/74/Civ6Production.png/revision/latest/scale-to-width-down/18?cb=20200501084523"<span>0</span></div>
    <div class="resource"><img sr</div>
    </div>
  </div>
</div>
<div id="map">
  <script src="/static/js/script.js"></script>
  <script src="/static/js/socket.js"></script>
</div>
{% endblock %}